/* stylelint-disable indentation */
/* stylelint-disable shorthand-property-no-redundant-values */
/* stylelint-disable no-duplicate-selectors */

/**
 * Name: Windows9x
 * Author: zombectro
 *
 * Based on best parts from
 * https://windows93.net by jankenpopp and zombectro
 * https://98.js.org by 1j01
 * https://tpenguinltg.github.io/winclassic by tPenguinLTG
 */

/* @read https://guidebookgallery.org/screenshots */
/* @see https://copy.sh/v86/?profile=windows2000 */

@import "../default/index.css";
@import "../default/fonts/sserife.css";
/* @import "../default/fonts/fixedsys.css"; */
@import "../default/fonts/tomo.css";
@import "../default/themes/inc/pixel-font.css";

:root {
  --cursor-default: url("../../../themes/windows9x/cursors/default.cur"), default;
  /* --cursor-context-menu: url("../../../themes/windows9x/cursors/context-menu.cur"), context-menu; */
  --cursor-help: url("../../../themes/windows9x/cursors/help.cur"), help;
  --cursor-pointer: url("../../../themes/windows9x/cursors/pointer.cur"), pointer;
  --cursor-progress: url("../../../themes/windows9x/cursors/progress.cur"), progress;
  --cursor-wait: url("../../../themes/windows9x/cursors/wait.cur"), wait;
  --cursor-cell: url("../../../themes/windows9x/cursors/cell.cur"), cell;
  /* --cursor-crosshair: url("../../../themes/windows9x/cursors/crosshair.cur"), crosshair; */
  --cursor-text: url("../../../themes/windows9x/cursors/text.cur"), text;
  /* --cursor-vertical-text: url("../../../themes/windows9x/cursors/vertical-text.cur"), vertical-text; */
  --cursor-alias: url("../../../themes/windows9x/cursors/alias.cur"), alias;
  --cursor-copy: url("../../../themes/windows9x/cursors/copy.cur"), copy;
  --cursor-move: url("../../../themes/windows9x/cursors/move.cur"), move;
  --cursor-no-drop: url("../../../themes/windows9x/cursors/no-drop.cur"), no-drop;
  --cursor-not-allowed: url("../../../themes/windows9x/cursors/not-allowed.cur"), not-allowed;
  --cursor-grab: url("../../../themes/windows9x/cursors/grab.cur"), grab;
  --cursor-grabbing: url("../../../themes/windows9x/cursors/grabbing.cur"), grabbing;
  /* --cursor-all-scroll: url("../../../themes/windows9x/cursors/all-scroll.cur"), all-scroll; */
  /* --cursor-col-resize: url("../../../themes/windows9x/cursors/col-resize.cur"), col-resize; */
  /* --cursor-row-resize: url("../../../themes/windows9x/cursors/row-resize.cur"), row-resize; */
  /* --cursor-n-resize: url("../../../themes/windows9x/cursors/n-resize.cur"), n-resize; */
  /* --cursor-e-resize: url("../../../themes/windows9x/cursors/e-resize.cur"), e-resize; */
  /* --cursor-s-resize: url("../../../themes/windows9x/cursors/s-resize.cur"), s-resize; */
  /* --cursor-w-resize: url("../../../themes/windows9x/cursors/w-resize.cur"), w-resize;  */
  /* --cursor-ne-resize: url("../../../themes/windows9x/cursors/ne-resize.cur"), ne-resize; */
  /* --cursor-nw-resize: url("../../../themes/windows9x/cursors/nw-resize.cur"), nw-resize; */
  /* --cursor-se-resize: url("../../../themes/windows9x/cursors/se-resize.cur"), se-resize; */
  /* --cursor-sw-resize: url("../../../themes/windows9x/cursors/sw-resize.cur"), sw-resize; */
  --cursor-ew-resize: url("../../../themes/windows9x/cursors/ew-resize.cur"), ew-resize;
  --cursor-ns-resize: url("../../../themes/windows9x/cursors/ns-resize.cur"), ns-resize;
  --cursor-nesw-resize: url("../../../themes/windows9x/cursors/nesw-resize.cur"), nesw-resize;
  --cursor-nwse-resize: url("../../../themes/windows9x/cursors/nwse-resize.cur"), nwse-resize;
  /* --cursor-zoom-in: url("../../../themes/windows9x/cursors/zoom-in.cur"), zoom-in; */
  /* --cursor-zoom-out: url("../../../themes/windows9x/cursors/zoom-out.cur"), zoom-out; */
}

:root {
  /* The active caption bar */
  --ActiveTitle: rgb(10 36 106);
  --GradientActiveTitle: rgb(166 202 240);
  --TitleText: rgb(255 255 255);

  /* The inactive caption bar */
  --InactiveTitle: rgb(128 128 128);
  --GradientInactiveTitle: rgb(192 192 192);
  --InactiveTitleText: rgb(212 208 200);

  /* Tooltip */
  --InfoWindow: rgb(254 255 224);
  --InfoText: rgb(0 0 0);

  /* Window 3d colors */
  --ButtonFace: rgb(212 208 200);
  --ButtonLight: rgb(223 223 223);
  --ButtonHilight: rgb(255 255 255);
  --ButtonShadow: rgb(128 128 128);
  --ButtonDkShadow: rgb(64 64 64);

  /* Other window colors */
  --ActiveBorder: rgb(212 208 200);
  --InactiveBorder: rgb(212 208 200);
  --MenuBar: rgb(236 233 216);
  --Menu: rgb(212 208 200);
  --WindowFrame: rgb(0 0 0);
  --Scrollbar: rgb(212 208 200);
  --Window: rgb(255 255 255);
  /* --ButtonAlternateFace: rgb(181 181 181); */

  /* Background workspace */
  /* --Background: rgb(58 110 165); */
  --Background: rgb(1 130 129);
  --AppWorkspace: rgb(128 128 128);

  /* Selection */
  --MenuHilight: rgb(49 106 197);
  --HilightText: rgb(255 255 255);
  --Hilight: rgb(10 36 106);
  --Hilight-fix: rgb(10 36 106 / 0.99);

  /* Text colors */
  --WindowText: rgb(0 0 0);
  --MenuText: rgb(0 0 0);
  --ButtonText: rgb(0 0 0);
  --GrayText: rgb(128 128 128);
  --HotTrackingColor: rgb(0 0 128);

  /* Images
  ========= */

  /* Borders
  ---------- */

  --fld-bdi-url: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7px" height="7px"><path fill="rgb(128 128 128)" d="M0 0h6v1H1v5H0Z"/><path fill="rgb(64 64 64)" d="M1 1h4v1H2v3H1Z"/><path fill="rgb(223 223 223)" d="M5 1h1v5H1V5h4z"/><path fill="rgb(255 255 255)" d="M6 0h1v7H0V6h6z"/></svg>');
  --btn-bdi-url: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7px" height="7px"><path fill="rgb(255 255 255)" d="M0 0h6v1H1v5H0Z"/><path fill="rgb(223 223 223)" d="M1 1h4v1H2v3H1Z"/><path fill="rgb(128 128 128)" d="M5 1h1v5H1V5h4z"/><path fill="rgb(64 64 64)" d="M6 0h1v7H0V6h6z"/></svg>');

  --fld-bdi: var(--fld-bdi-url) 2 / 2px;
  --inset-shallow-bdi: var(--fld-bdi-url) 1 / 1px;

  --outset-bdi: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7px" height="7px"><path fill="rgb(223 223 223)" d="M0 0h6v1H1v5H0Z"/><path fill="rgb(255 255 255)" d="M1 1h4v1H2v3H1Z"/><path fill="rgb(128 128 128)" d="M5 1h1v5H1V5h4z"/><path fill="rgb(64 64 64)" d="M6 0h1v7H0V6h6z"/></svg>') 2 / 2px;
  --outset-shallow-bdi: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7px" height="7px"><path fill="rgb(255 255 255)" d="M0 0h6v1H1v5H0Z"/><path fill="rgb(128 128 128)" d="M6 0h1v7H0V6h6z"/></svg>') 1 / 1px;

  --btn-bdi: var(--btn-bdi-url) 2 / 2px;
  --btn☑️-bdi: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7px" height="7px"><path fill="rgb(64 64 64)" d="M0 0h6v1H1v5H0Z"/><path fill="rgb(128 128 128)" d="M1 1h4v1H2v3H1Z"/><path fill="rgb(223 223 223)" d="M5 1h1v5H1V5h4z"/><path fill="rgb(255 255 255)" d="M6 0h1v7H0V6h6z"/></svg>') 2 / 2px;
  --btn👇-bdi: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7px" height="7px"><path fill="rgb(64 64 64)" d="M0 0h6v1H1v5H0Z"/><path fill="rgb(128 128 128)" d="M1 1h4v1H2v3H1Z"/><path fill="rgb(128 128 128)" d="M5 1h1v5H1V5h4z"/><path fill="rgb(64 64 64)" d="M6 0h1v7H0V6h6z"/></svg>') 2 / 2px;
  --btn💾-bdi: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7px" height="7px"><path fill="rgb(64 64 64)" d="M7 0v7H0V0h7Z"/><path fill="rgb(255 255 255)" d="M1 1h4v1H2v3H1Z"/><path fill="rgb(223 223 223)" d="M2 2h2v1H3v1H2Z"/><path fill="rgb(128 128 128)" d="M4 2h1v3H2V4h2z"/></svg>') 3 / 3px;
  --fieldset-bdi: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7px" height="7px"><path fill="rgb(128 128 128)" d="M0 0h6v1H1v5H0Z"/><path fill="rgb(255 255 255)" d="M1 1h4v1H2v3H1Z"/><path fill="rgb(128 128 128)" d="M5 1h1v5H1V5h4z"/><path fill="rgb(255 255 255)" d="M6 0h1v7H0V6h6z"/></svg>') 2 / 2px;

  --select-bg-url: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" style="background:rgb(212 208 200)" width="16px" height="18px"><path fill="rgb(223 223 223)" d="M0 0h15v1H1v16H0Z" /><path fill="rgb(64 64 64)" d="M15 0h1v18H0V17h15z" /><path fill="rgb(255 255 255)" d="M1 1h13v1H2v14H1Z" /><path fill="rgb(128 128 128)" d="M14 1h1v16H1V16h13z" /></svg>');

  /* Screentone
  ------------- */
  --screentone-url: url('data:image/svg+xml,<svg width="2" height="2" xmlns="http://www.w3.org/2000/svg"><path d="m2 0v1h-2v1h1v-2z" fill="rgb(255 255 255)"/></svg>');

  /* pictos
  --------- */

  --addon-sprites-url: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="128" height="32"><filter id="f" width="128" height="32"><feOffset dx="0" dy="16" in="SourceGraphic" result="o1" /><feOffset dx="1" dy="17" in="SourceGraphic" result="o2" /><feFlood flood-color="rgb(128 128 128)" result="c1" /><feFlood flood-color="rgb(255 255 255)" result="c2" /><feComposite operator="in" in="c1" in2="o1" result="a" /><feComposite operator="in" in="c2" in2="o2" result="b" /><feMerge><feMergeNode in="b" /><feMergeNode in="a" /><feMergeNode in="SourceGraphic" /></feMerge></filter><g style="fill:rgb(0 0 0);filter:url(%23f)"><path style="translate:0px" d="M7 6h1v1h1v1h1v1h1v1h-7v-1h1v-1h1v-1h1z" /><path style="translate:16px" d="M4 6h7v1h-1v1h-1v1h-1v1h-1v-1h-1v-1h-1v-1h-1z" /><path style="translate:32px" d="M8 4h1v7h-1v-1h-1v-1h-1v-1h-1v-1h1v-1h1v-1h1z" /><path style="translate:48px" d="M6 4h1v1h1v1h1v1h1v1h-1v1h-1v1h-1v1h-1z" /><path style="translate:64px" d="M4 3h1v1h5v-1h1v1h1v8h-9v-8h1z M4 6v5h7v-5z M5 7h2v2h-2z" /><path style="translate:80px" d="M7 4h2v3h2v1h-1v1h-1v1h-2v-1h-1v-1h-1v-1h2z M3 9h1v2h8v-2h1v3h-10z" /></g></svg>');

  --scrollbar-up-bg: var(--addon-sprites-url) 0 0 no-repeat;
  --scrollbar-down-bg: var(--addon-sprites-url) -16px 0 no-repeat;
  --scrollbar-left-bg: var(--addon-sprites-url) -32px 0 no-repeat;
  --scrollbar-right-bg: var(--addon-sprites-url) -48px 0 no-repeat;

  --picto--up-xs: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="rgb(0 0 0)" d="M7 6h1v1h1v1h-3v-1h1z"/></svg>');
  --picto--down-xs: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="rgb(0 0 0)" d="M6 7h3v1h-1v1h-1v-1h-1z"/></svg>');
  --picto--down: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="rgb(0 0 0)" d="M4 6h7v1h-1v1h-1v1h-1v1h-1v-1h-1v-1h-1v-1h-1z"/></svg>');

  --picto--up-xs--d: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path style="filter:drop-shadow(1px 1px 0 rgb(255 255 255))" fill="rgb(128 128 128)" d="M7 6h1v1h1v1h-3v-1h1z"/></svg>');
  --picto--down-xs--d: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path style="filter:drop-shadow(1px 1px 0 rgb(255 255 255))" fill="rgb(128 128 128)" d="M6 7h3v1h-1v1h-1v-1h-1z"/></svg>');
  --picto--down--d: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path style="filter:drop-shadow(1px 1px 0 rgb(255 255 255))" fill="rgb(128 128 128)" d="M4 6h7v1h-1v1h-1v1h-1v1h-1v-1h-1v-1h-1v-1h-1z"/></svg>');
}

:root {
  --ff-sans: sserife, sserife-fallback;
  --fs-sans: 11px;
  --lh-sans: 1.27272727;

  /* --ff-mono: fixedsys;
  --fs-mono: 16px; */
  --ff-mono: tomo-web;
  --fs-mono: 8px;
  --lh-mono: 1.5;

  --ground-bg: var(--AppWorkspace);
  --ground-fg: var(--ButtonLight);

  --desktop-bg: var(--Background);
  --desktop-fg: #fff;

  --document-bg: var(--Window);
  --document-fg: var(--WindowText);

  --panel-bg: var(--ButtonFace);
  --panel-fg: var(--ButtonText);

  --tooltip-fg: var(--InfoText);
  --tooltip-bg: var(--InfoWindow);
  --tooltip-bdc: var(--InfoText);
  --tail-h: var(--unit);
  --tail-w: var(--unit);
  --tooltip-br: 5px;
  --tooltip-offset-y: 5px;
  --tooltip-filter: drop-shadow(2px 2px 1px #0005);

  --ctrl-group-gap: 0;
  --ctrl-px: 4px;
  --ctrl-py: 2px;

  --ctrl-bdw: 2px;

  --ctrl-o: 1px dotted;
  --ctrl-oo: -3px;
  --ctrl🚫-alpha: 1;
  --ctrl🚫-bg: var(--ButtonFace);
  --ctrl🚫-fg: var(--GrayText);
  --ctrl🚫-tsh: 1px 1px 0 var(--ButtonHilight);

  --fld-bg: var(--Window);
  --fld-fg: var(--WindowText);
  --fld-bdw: 2px;
  --fld-bdc: var(--ButtonShadow);

  --fld⚠️-bg: #dfc8c8;

  --btn-bg: var(--ButtonFace);
  --btn-fg: var(--ButtonText);
  --btn-bdw: 2px;
  --btn-bdc: var(--ButtonShadow);
  --btn-oo: -5px;
  --fieldset-bdw: 2px;
  --fieldset-bdc: var(--ButtonShadow);

  /* --btn--primary-bg: var(--ButtonAlternateFace); */

  --btn👇-fg: var(--btn-fg);
  --btn👇-bg: var(--btn-bg);
  --btn👇-pa:
    calc(var(--ctrl-py) + 1px)
    calc(var(--ctrl-px) - 1px)
    calc(var(--ctrl-py) - 1px)
    calc(var(--ctrl-px) + 1px);
  --btn☑️👇-pa: var(--btn👇-pa);
  --btn☑️-pa: var(--ctrl-py) var(--ctrl-px);

  --btn☑️-fg: var(--btn-fg);
  --btn☑️-bg: var(--btn-bg) var(--screentone-url);
  --btn☑️🚫-bdi: var(--btn☑️-bdi);

  --check-o: none;
  --check-size: 10px;
  --check__bullet-ma: 3px;
  --check-bdw: 0;
  --check-bdi: none; /* TODO: remake pixel art radio button */
  --check-bsh:
    -1px  -1px 0 var(--ButtonDkShadow),
     0px  -1px 0 var(--ButtonDkShadow),
    -1px   0px 0 var(--ButtonDkShadow),
     1px  -1px 0 var(--ButtonLight),
     1px   1px 0 var(--ButtonLight),
     0px   1px 0 var(--ButtonLight),
    -1px   1px 0 var(--ButtonLight),
    -2px   1px 0 var(--ButtonShadow),
    -2px   0px 0 var(--ButtonShadow),
    -2px  -1px 0 var(--ButtonShadow),
    -2px  -2px 0 var(--ButtonShadow),
    -2px  -2px 0 var(--ButtonShadow),
    -1px  -2px 0 var(--ButtonShadow),
     0px  -2px 0 var(--ButtonShadow),
     1px  -2px 0 var(--ButtonShadow),
     2px  -2px 0 var(--ButtonHilight),
     2px  -1px 0 var(--ButtonHilight),
     2px   0px 0 var(--ButtonHilight),
     2px   1px 0 var(--ButtonHilight),
     2px   2px 0 var(--ButtonHilight),
     1px   2px 0 var(--ButtonHilight),
     0px   2px 0 var(--ButtonHilight),
    -1px   2px 0 var(--ButtonHilight),
    -2px   2px 0 var(--ButtonHilight);

  --link-fg: var(--Hilight);
  --link👇-fg: #f00;

  --highlight-bg: var(--Hilight);
  --highlight-fg: var(--HilightText);

  --dim-fg: #808080;

  --addon-w: var(--picto-size);
  --addon-bg: var(--ButtonFace);
  --addon-bdw: 2px;
  --addon-bdi: var(--outset-bdi);

  --fieldset__legend-pa: 2px;

  --scrollbar-thumb-size: var(--picto-size);
  --scrollbar-track-br: 0;

  --range__track-h: 7px;
  --range__track-bg: var(--ButtonFace);
  --range__track-bdw: 2px;
  --range__track-bdi: var(--fld-bdi);

  --range__thumb-h: 20px;
  --range__thumb-w: 10px;
  --range__thumb-br: 0;
  --range__thumb-bdw: 2px;
  --range__thumb-bg: var(--ButtonFace);
  --range__thumb-bdi: var(--btn-bdi);

  --range🚫__thumb-bg: var(--ButtonFace) var(--screentone-url);

  --progress__value-bg:
    0 0 / 10px 50px
    linear-gradient(90deg, var(--Hilight) 8px, transparent 8px);

  --separator-bdw: 1px 0 1px 0;
  --separator-bdc: var(--ButtonShadow) transparent var(--ButtonHilight) transparent;

  --separator-v-bdw: 0 1px 0 1px;
  --separator-v-bdc: transparent var(--ButtonHilight) transparent var(--ButtonShadow);
}

select:is([multiple],[size]),
textarea { overflow-y: scroll; }

select {
  --_picto: var(--picto--down);
  background-image: var(--_picto), var(--select-bg-url);
  background-position-x: right;
}

select:disabled {
  --_picto: var(--picto--down--d);
}

legend { --legend-bg: var(--bg); }

input[type="radio" i],
input[type="checkbox" i] {
  margin-inline: 2px;
}

:where(input[type="checkbox"]:disabled)::before {
  background-color: var(--ButtonHilight);
  transform: translate(1px, 1px);
}

input[type="number" i]::-webkit-inner-spin-button {
  --_up: var(--picto--up-xs);
  --_down: var(--picto--down-xs);
  background-image:
    var(--_up),
    linear-gradient(to bottom, var(--ButtonShadow) 1px, var(--ButtonHilight) 1px),
    var(--_down);
  background-position-x: 0, center, 0;
  background-position-y: -2px, center, 5px;
  background-origin: border-box;
  background-size: auto, 16px 2px, auto;
}

input[type="number" i]:disabled::-webkit-inner-spin-button {
  --_up: var(--picto--up-xs--d);
  --_down: var(--picto--down-xs--d);
}

:is(button, .button):focus:not(:active) {
  border-image: var(--btn💾-bdi);
}

.check-cont label {
  padding-inline: 2px;
  padding-block: 0;
  margin-block: calc(var(--ctrl-py));
  line-height: 14px;
}

.check-cont:focus-within label {
  outline: var(--ctrl-o);
  outline-offset: -1px;
}

ui-menu {
  padding: 2px;
}

ui-menu hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

/* ui-dialog {
  --_activity-border: var(--InactiveBorder);
  box-shadow:
    inset 1px 1px 1px 0 var(--_activity-border),
    inset -1px -1px 1px 0 var(--_activity-border);
}

ui-dialog[active] {
  --_activity-border: var(--ActiveBorder);
} */

.ui-dialog__header {
  padding: 0;
  padding-inline-end: 2px;
  display: flex;
  color: var(--InactiveTitleText);
  background-color: var(--GradientInactiveTitle);
}

:root {
  --gradient-dir: right;
}

:root:dir(rtl) {
  --gradient-dir: left;
}

.ui-dialog__title {
  padding: 3px 5px;
  font-weight: 800;
  background-image:
    linear-gradient(
      to var(--gradient-dir),
      var(--InactiveTitle),
      var(--GradientInactiveTitle)
    );
}

.ui-dialog__header ui-icon {
  background-color: var(--InactiveTitle);
  padding-inline-start: 2px;
}

:where(.active, ui-dialog[active]) .ui-dialog__header ui-icon {
  background-color: var(--ActiveTitle);
}

:where(.active, ui-dialog[active]) .ui-dialog__header {
  color: var(--TitleText);
  background-color: var(--GradientActiveTitle);
}

:where(.active, ui-dialog[active]) .ui-dialog__title {
  background-image:
    linear-gradient(
      to var(--gradient-dir),
      var(--ActiveTitle),
      var(--GradientActiveTitle)
    );
}

legend button.has-picto,
.ui-dialog__header button.has-picto {
  padding: 0;
  height: var(--picto-size);
  width: var(--picto-size);
}

legend button.has-picto {
  ---: calc(var(--picto-size) + 2px);
  height: var(---);
  width: var(---);
}

.ui-dialog__header button,
legend button.has-picto:focus,
.ui-dialog__header button.has-picto:focus {
  outline-offset: -1px;
}

legend button.has-picto > ui-picto,
.ui-dialog__header button.has-picto > ui-picto {
  min-width: var(--picto-size);
}

.ui-dialog__header button:last-of-type {
  margin-inline-start: 2px;
}

.ui-dialog__header button {
  height: var(--picto-size);
  min-width: var(--picto-size);
  padding: 2px;
  margin: 2px 0;
}

legend button:active,
.ui-dialog__header button:active {
  padding: 2px 1px 1px 2px;
}

.ui-dialog__header button:active {
  border-image: var(--fld-bdi);
}

.ui-dialog__footer button {
  min-width: 75px;
}

/* demand dialogs
================= */

.ui-dialog-demand {
  width: 256px;
}

.ui-dialog-demand label {
  white-space: pre-wrap;
}

.ui-dialog-modal__content {
  padding: 8px;
  padding-bottom: 4px;
}

.ui-dialog-modal__image + .ui-dialog-modal__content {
  padding-inline-start: 0;
}

.ui-dialog-demand .ui-dialog__footer {
  justify-content: center;
  padding: var(--unit);
  padding-top: 4px;
}

/* scrollbars
============= */

*::-webkit-scrollbar { background: var(--Scrollbar) var(--screentone-url) repeat; }

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-button {
  width: var(--addon-w);
  height: var(--addon-w);
}

*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-button {
  color: var(--ButtonText);
  background: var(--ButtonFace);
  border: 2px solid;
  border-image: var(--outset-bdi);
}

*::-webkit-scrollbar-corner { background: var(--ButtonFace); }
*::-webkit-scrollbar-track-piece:active { background: var(--ButtonDkShadow); }
*::-webkit-scrollbar-button { display: block; }

*::-webkit-scrollbar-button:hover:active {
  border: 1px solid var(--ButtonShadow);
}

*::-webkit-scrollbar-button:vertical:decrement {
  background: var(--ButtonFace) var(--scrollbar-up-bg);
  background-origin: border-box;
}

*::-webkit-scrollbar-button:vertical:increment {
  background: var(--ButtonFace) var(--scrollbar-down-bg);
  background-origin: border-box;
}

*::-webkit-scrollbar-button:horizontal:decrement {
  background: var(--ButtonFace) var(--scrollbar-left-bg);
  background-origin: border-box;
}

*::-webkit-scrollbar-button:horizontal:increment {
  background: var(--ButtonFace) var(--scrollbar-right-bg);
  background-origin: border-box;
}

/* active
--------- */

*::-webkit-scrollbar-button:hover:active {
  background-position-y: 1px;
}

*::-webkit-scrollbar-button:vertical:decrement:active {
  background-position-x: 1px;
}

*::-webkit-scrollbar-button:vertical:increment:active {
  background-position-x: -15px;
}

*::-webkit-scrollbar-button:horizontal:decrement:active {
  background-position-x: -31px;
}

*::-webkit-scrollbar-button:horizontal:increment:active {
  background-position-x: -47px;
}

/* disabled
----------- */

*::-webkit-scrollbar-button:horizontal:disabled {
  background-position-y: -16px;
}

*::-webkit-scrollbar-button:vertical:disabled {
  background-position-y: -16px;
}

*::-webkit-scrollbar-button:end:decrement,
*::-webkit-scrollbar-button:start:increment {
  display: none;
}

button:is(:disabled,[aria-disabled="true"]) :is(img, svg) {
  fill: #000;
  filter: url("#disabled-inset");
}
