:root {
  --z-dialogs: 1000;
  --z-toasts: 2000;
  --z-popups: 3000;
  --z-tooltips: 4000;
}

.layer-dialogs,.layer-toasts,.layer-popups,.layer-tooltips {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

:is(.layer-dialogs,.layer-toasts,.layer-popups,.layer-tooltips) > * {
  pointer-events: auto;
}

.layer-dialogs { z-index: var(--z-dialogs); }
.layer-toasts { z-index: var(--z-toasts); }
.layer-popups { z-index: var(--z-popups); }
.layer-tooltips { z-index: var(--z-tooltips); }
