.rubberband {
  stroke: #fff;
  fill: transparent;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  stroke-dasharray: 1;
  mix-blend-mode: difference;
}

.dragover,
.dragover:focus {
  outline: 1px dashed;
}

.ghost,
.ghost * {
  transition: none !important;
  pointer-events: none !important;
}

.loading {
  overflow: hidden;
}

button.btn-small,
.ui-dialog__header button,
.ui-tabs__container > span > button,
.ui-accordion__label button {
  height: var(--picto-size);
  min-width: var(--picto-size);
  padding: 2px;
}

ui-picto {
  display: inline-block;
  flex: 0 0 var(--picto-size);
  width: var(--picto-size);
  height: var(--picto-size);
}

ui-layout {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

:where(ui-layout) { flex-grow: 1; }
