.rubberband {
  stroke: #fff;
  fill: transparent;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  stroke-dasharray: 1;
  mix-blend-mode: difference;
}

.dragover,
.dragover:focus {
  outline: 1px dashed;
}

.ghost,
.ghost * {
  transition: none !important;
  pointer-events: none !important;
}

button.btn-small,
.ui-dialog__header button,
.ui-accordion__label button {
  height: var(--picto-size);
  min-width: var(--picto-size);
  padding: 2px;
  /* margin: 2px 0; */
}

ui-layout {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
