/**
 * Name: Blueprint
 * Author: Lorenzo Buosi
 * https://chrometaphore.com/work/projects/open_source/
 */

@import "../default/index.css";

:root {
  --setting-color: #00aced;
  /* --bg: var(--setting-color); */
  /* --fg: #fff; */
  --bg: #bbb;
  --fg: #000;

  --highlight-bg: rgba(255 255 255 / 0.2);
  --highlight-fg: var(--fg);
  --invalid-bg: rgba(255 0 0 / 0.3);

  --btn-br: 0.6rem;
  --select-br: var(--btn-br);
  --ctrl-oc: #fff;
  --ctrl🎯-bg: var(--highlight-bg);
  --ctrl⚠-bg: var(--invalid-bg);

  --check-oo: 0;
  --check-br: 5px;
  --check🎯-bg: var(--highlight-bg);
  --check-size: 18px;

  --addon-w: 23px;
  --addon-top: 4px;
  --addon-right: 4px;
  --addon-bottom: 4px;
  --addon-bdw: 1px;
  --addon-bdr: 0px;
  --addon-bg: rgb(0 0 0 / 0.2);

  --btn--primary-bg: #fff;
  --btn--primary-fg: var(--bg);

  --btn☑️👇-bg: rgba(0 0 0 / 0.3);

  --fieldset-my: var(--unit-md);
  --fieldset-mx: var(--unit-md);
  --ctrl-px: var(--unit-md);
  --ctrl-py: calc(0.6 * var(--unit));

  --outset-bd: none;

  --range__track-inactive-c: var(--highlight-bg);
  --range__track-o: none;
  --range🎯__thumb-bsh: 0 0 0 var(--unit-md) var(--highlight-bg);

  --tooltip-offset-y: var(--unit-sm);
  --tooltip-offset-x: var(--unit-sm);
  --tail-offset-x: var(--unit);
  --tail-h: var(--unit-md);
  --tail-w: var(--unit-md);

  /* --tail-offset-x: calc(100% - var(--tail-w));
  --tail-h: var(--unit-md);
  --tail-w: var(--unit-md); */

  --tooltip-bg: var(--fg);
  --tooltip-fg: var(--bg);
  --tooltip-bdc: var(--bg);
  --tooltip-bdw: 2px;

  --tabs-gap: -3px;
  --tabs__panel-bsh:
    1.5px 1px 3px 0px rgba(0 0 0 / 0.4),
    0 0 4px 0 rgba(0 0 0 / 0.2);
  --tabs__tab-bsh:
    2px 2px 3px 0px rgba(0 0 0 / 0.5),
    0 0 4px 0 rgba(0 0 0 / 0.2);
}

body {
  background-color: var(--bg);
  color: var(--fg);
}

legend {
  font-weight: bold;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="color"],
input[type="submit"],
select,
selectmenu {
  font-weight: bold;
}

select,
selectmenu {
  border-radius: var(--outset-br);
}

ui-accordion {
  border-radius: var(--outset-br);
  /* border: 1px solid transparent; */
}

/* input[type="radio"]::after {
  content: "";
  background: currentColor;
  position: absolute;
  inset: 5px;
  border-radius: 100%;
  transform: scale(0);
  transition: transform var(--check__bullet-speed) ease-in-out;
}

input[type="radio"]:checked::after {
  transform: scale(1);
} */
