<!DOCTYPE html>
<meta charset="utf-8" />
<title>ui-dialog</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/style.css" id="theme" />

<script type="module">
  import ui from "../../../42/ui.js"
  import listen from "../../../42/fabric/dom/listen.js"
  import sleep from "../../../42/fabric/type/promise/sleep.js"

  const app = await ui({
    tag: "body.desktop",
    content: [
      { tag: "button", content: "{{cnt}}", click: "{{cnt += 1}}" },
      {
        tag: "button#dialog",
        content: "dialog",
        dialog: {
          live: false,
          label: "live dialog",
          // animate: { translate: "0 -100%", opacity: 0 },
          content: [
            { tag: "button", content: "{{cnt}}", click: "{{cnt += 1}}" },
          ],
        },
      },
    ],
    state: {
      cnt: 42,
    },
  })

  // import log from "../../../42/core/log.js"
  // listen({
  //   click() {
  //     setTimeout(() => {
  //       log(app.data)
  //     }, 0)
  //   },
  // })

  setTimeout(() => {
    app.query("button#dialog")?.click()
    // app.query("button#dialog")?.click()
  }, 100)

  let closed

  listen({
    async dialogopen(e) {
      // console.log("dialogopen", e)
      if (closed) return
      closed = true
      await sleep(500)
      // document.querySelector(".ui-dialog__close")?.click()
      e.target.close()
      app.query("button#dialog")?.click()
    },
    // dialogclose(e) {
    //   // e.preventDefault()
    //   console.log("dialogclose", e)
    // },
  })

  // import dialog from "../../../42/ui/components/dialog.js"
  // const res = await dialog({
  //   x: 100,
  //   label: "standalone",
  //   content: "hello {{cnt}}",
  //   state: { cnt: 42 },
  // })
  // console.log("res", res)
</script>
