<!DOCTYPE html>
<meta charset="utf-8" />
<title>ui-folder</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/style.css" id="theme" />

<script type="module">
  import trap from "../../../42/fabric/type/error/trap.js"
  trap()
</script>

<script type="module">
  import ui from "../../../42/ui.js"

  const app = await ui({
    tag: "body.box-center._gap.pa.desktop",
    content: [
      { tag: "h2", content: "ui-folder" },
      {
        tag: ".toggle-group",
        content: [
          {
            tag: "radio",
            bind: "folder1view",
            value: "grid",
            label: { picto: "grid", aria: { label: "Grid view" } },
          },
          {
            tag: "radio",
            bind: "folder1view",
            value: "tree",
            label: { picto: "tree", aria: { label: "Tree view" } },
            checked: true,
          },
        ],
      },
      {
        tag: "ui-folder.inset.paper",
        view: "{{folder1view}}",
        style: { width: "300px", height: "208px" },
        selection: ["/tests/fixtures/components/folder/script.js"],
        path: "/tests/fixtures/components/folder",
      },

      "<br>",

      {
        tag: ".toggle-group",
        content: [
          {
            tag: "radio",
            bind: "folder2view",
            value: "grid",
            label: { picto: "grid", aria: { label: "Grid view" } },
            checked: true,
          },
          {
            tag: "radio",
            bind: "folder2view",
            value: "tree",
            label: { picto: "tree", aria: { label: "Tree view" } },
          },
        ],
      },

      {
        tag: "ui-folder.inset.paper",
        view: "{{folder2view}}",
        style: { width: "300px", height: "208px" },
        selection: ["/tests/fixtures/components/folder/subfolder/file.txt"],
        // path: "/tests/fixtures/components/folder/subfolder",
        path: "/tests/fixtures/formats",
      },
    ],
  })

  globalThis.app = app
</script>
