<!DOCTYPE html>
<meta charset="utf-8" />
<title>menu</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/style.css" id="theme" />

<body class="_debug pa-xxl"></body>

<script type="module">
  import "../../../42/ui/components/menu.js"
  import ui from "../../../42/ui.js"

  const infinite = [
    {
      label: "Infinite",
      get content() {
        return infinite
      },
    },
    {
      label: "Self",
      get content() {
        return content
      },
    },
    { label: "Ping", run: "ping" },
    "---",
    { label: "Foo", type: "checkbox" },
    { label: "Bar", type: "checkbox" },
    { label: "Baz", type: "checkbox" },
  ]

  const content = [
    {
      label: "Open",
      picto: "folder-open",
      shortcut: "Ctrl+O",
      run: "open",
    },
    {
      label: "Save",
      picto: "save",
      shortcut: "Ctrl+S",
      run: "save",
      disabled: true,
    },
    "---",
    {
      label: "Infinite",
      content: infinite,
    },
    {
      label: "Self",
      get content() {
        return content
      },
    },
    {
      label: "Checkboxes",
      content: [
        { label: "Foo", type: "checkbox" },
        { label: "Bar", type: "checkbox" },
        { label: "Baz", type: "checkbox" },
      ],
    },
    "---",
    { label: "Foo", type: "checkbox" },
    { label: "Bar", type: "checkbox" },
    { label: "Baz", type: "checkbox" },
    "---",
    { label: "Ping", run: "ping" },
  ]

  const app = await ui({
    content: [
      // { type: "fieldset", label: "Menu declaration as fieldset", content },
      // "---",
      { type: "input", placeholder: "tab order" },
      "---",
      { type: "ui-menubar", content },
      "---",
      { type: "input", placeholder: "tab order" },
      "---",
      { type: "ui-menu", content },
      "---",
      { type: "input", placeholder: "tab order" },
      "---",
      { type: "ui-menubar", content },
      "---",
      {
        type: "button",
        label: "Menu button",
        popup: { type: "ui-menu", content },
      },
      "---",
      {
        type: "button",
        label: "Split button",
        run: "ping",
        popup: { content: "Hello", class: "outset pa" },
      },
      "---",
      { label: "Foo", type: "checkbox" },
      { label: "Bar", type: "checkbox" },
      { label: "Baz", type: "checkbox" },
    ],

    actions: {
      open: () => console.log("open"),
      save: () => console.log("save"),
      ping: () => console.log("ping"),
      exit: () => console.log("exit"),
      blink: () => console.log("blink"),
    },

    data: {
      foo: true,
    },
  })

  window.app = app

  // window.onload = () => {
  //   setTimeout(() => {
  //     window.app.get('ui-menu [aria-haspopup="true"]').click()
  //   }, 100)
  // }

  // import a11y from "../../42/a11y.js"
  // a11y.tree()
</script>
