<!DOCTYPE html>
<meta charset="utf-8" />
<title>ui-menu</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/style.css" id="theme" />

<script type="module">
  import trap from "../../../42/fabric/type/error/trap.js"
  trap()
</script>

<script type="module">
  import "../../../42/ui/components/dialog.js"
  import "../../../42/ui/popup.js"
  import ui from "../../../42/ui.js"
  import inTop from "../../../42/core/env/realm/inTop.js"

  const content = [
    {
      label: "Dialog",
      id: "btnDialog",
      picto: "folder-open",
      shortcut: "Ctrl+O",
      dialog: {
        label: "Incr",
        content: [
          {
            tag: "number",
            scope: "x",
            compact: true,
          },
          {
            tag: "number",
            scope: "cnt",
            compact: true,
          },
          {
            tag: "button",
            content: "{{cnt}}++",
            click: "{{cnt++}}",
          },
        ],
      },
    },
    {
      label: "Disabled",
      picto: "save",
      shortcut: "Ctrl+S",
      click: "{{save()}}",
      disabled: true,
    },
    "---",
    { label: "Incr {{cnt}}", click: "{{cnt = incr(cnt)}}" },
  ]

  const demo = {
    tag: ".pa-xxl",
    content: [
      { tag: "number", scope: "cnt", compact: true },
      "\n\n",
      "\n\n",
      {
        tag: "button.w-ctrl",
        content: "{{cnt}}++",
        click: "{{cnt++}}",
      },
      "---",
      { tag: "ui-menu", content },
      "---",
      { tag: "button#btnMenu", content: "Menu", menu: content },
    ],

    state: {
      cnt: 42,
    },

    actions: {
      open() {
        console.log("open", inTop)
      },
      save() {
        console.log("save", inTop)
      },
      incr(n) {
        return n + 1
      },
    },
  }

  let app

  if (inTop) {
    app = await ui(
      {
        tag: ".box-fit.desktop",
        content: {
          tag: ".box-v.w-full",
          content: [
            demo,
            // {
            //   tag: "ui-sandbox.panel",
            //   permissions: "trusted",
            //   path: "./menu.demo.html",
            // },
          ],
        },
      },
      { trusted: true }
    )
    // app.query("#btnMenu").click()
    app.query("#btnDialog").click()
  } else {
    app = await ui(demo)
    // app.query("#btnMenu").click()
    // app.query("#btnDialog").click()
  }
</script>
