:root {
  --addon-bds: solid;
  --addon-bdw: 0;
}

input[list],
input[type="file" i],
input[type="number" i],
input[type="month" i],
input[type="datetime-local" i],
input[type="time" i],
input[type="week" i],
input[type="date" i] {
  /* padding-right: var(--unit-sm); */
  padding-right: calc(var(--addon-w) + calc(2 * var(--addon-right)));
  position: relative;
}

/* input[type="number"] { -moz-appearance: textfield; } */

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::file-selector-button,
input[type="number" i]::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
  margin: 0;
  padding: 0;
  display: block !important;
  block-size: auto !important;
  background-image: none;
  color: inherit;
  font-size: 0;
  opacity: 1;
  appearance: none;
  box-sizing: border-box;
  position: absolute;
  top: var(--addon-top);
  bottom: var(--addon-bottom);
  right: var(--addon-right);
  height: var(--addon-h);
  width: var(--addon-w);
  border-width: var(--addon-bdw);
  border-style: var(--addon-bds);
  border-color: var(--addon-bdc, currentColor);
  border-image: var(--addon-bdi);
  border-radius: var(--addon-bdr);
  box-shadow: var(--addon-bsh);
  background-color: var(--addon-bg, var(--empty));
}

input[list]::after,
input[type="file" i]::after,
input[type="month" i]::after,
input[type="datetime-local" i]::after,
input[type="time" i]::after,
input[type="week" i]::after,
input[type="date" i]::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: var(--addon-top);
  bottom: var(--addon-bottom);
  right: var(--addon-right);
  height: var(--addon-h);
  width: var(--addon-w);
  background: var(--addon-fg, currentColor);
  -webkit-mask-image: var(--picto--calendar-url);
  -webkit-mask-position-x: 50%;
  -webkit-mask-position-y: 50%;
  -webkit-mask-repeat: no-repeat;
}

input[type="file" i]::after {
  -webkit-mask-image: var(--picto--upload-url);
}

input[list]::-webkit-calendar-picker-indicator {
  color: inherit;
  background: var(--addon-fg, currentColor);
  -webkit-mask-image: var(--picto--ellipsis-vertical-url);
  -webkit-mask-position-x: 50%;
  -webkit-mask-position-y: 50%;
  -webkit-mask-repeat: no-repeat;
}

input[type="number" i]::-webkit-inner-spin-button {
  background-image: var(--picto--up-url), var(--picto--down-url);
  background-position-x: center;
  background-repeat: no-repeat;
  --_y: calc(2px + 0.5 * var(--ctrl-py));
  background-position-y: calc(50% - var(--_y)), calc(50% + var(--_y));
}

input::-webkit-datetime-edit-ampm-field,
input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-hour-field,
input::-webkit-datetime-edit-millisecond-field,
input::-webkit-datetime-edit-minute-field,
input::-webkit-datetime-edit-month-field,
input::-webkit-datetime-edit-second-field,
input::-webkit-datetime-edit-week-field,
input::-webkit-datetime-edit-year-field {
  padding: 0 1px;
}

input::-webkit-datetime-edit-ampm-field:focus,
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-hour-field:focus,
input::-webkit-datetime-edit-millisecond-field:focus,
input::-webkit-datetime-edit-minute-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-second-field:focus,
input::-webkit-datetime-edit-week-field:focus,
input::-webkit-datetime-edit-year-field:focus {
  background: var(--highlight-bg);
  color: var(--highlight-fg);
  text-shadow: var(--highlight-tsh, none);
}
