@font-face {
  font-family: pictos;
  src: url("./pictos/pictos.woff2") format("woff2"),
       url("./pictos/pictos.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --font-pictos: normal normal 400 16px/1 pictos;
  --picto--arrow-down: "\ea01";
  --picto--arrow-down-left: "\ea02";
  --picto--arrow-left: "\ea03";
  --picto--arrow-left-up: "\ea04";
  --picto--arrow-right: "\ea05";
  --picto--arrow-right-down: "\ea06";
  --picto--arrow-up: "\ea07";
  --picto--arrow-up-right: "\ea08";
  --picto--backward: "\ea09";
  --picto--bars: "\ea0a";
  --picto--bars-vertical: "\ea0b";
  --picto--bold: "\ea0c";
  --picto--bolt: "\ea0d";
  --picto--bookmark: "\ea0e";
  --picto--bug: "\ea0f";
  --picto--bullet: "\ea10";
  --picto--calendar: "\ea11";
  --picto--check: "\ea12";
  --picto--clear: "\ea13";
  --picto--close: "\ea14";
  --picto--code: "\ea15";
  --picto--cog: "\ea16";
  --picto--copy: "\ea17";
  --picto--crop: "\ea18";
  --picto--cross: "\ea19";
  --picto--cross-alt: "\ea1a";
  --picto--cross-thin: "\ea1b";
  --picto--cube: "\ea1c";
  --picto--cut: "\ea1d";
  --picto--desktop: "\ea1e";
  --picto--details: "\ea1f";
  --picto--dots: "\ea20";
  --picto--down: "\ea21";
  --picto--down-xs: "\ea22";
  --picto--eject: "\ea23";
  --picto--ellipsis: "\ea24";
  --picto--ellipsis-vertical: "\ea25";
  --picto--envelope: "\ea26";
  --picto--envelope-open: "\ea27";
  --picto--eraser: "\ea28";
  --picto--expand: "\ea29";
  --picto--export: "\ea2a";
  --picto--eye: "\ea2b";
  --picto--eye-slash: "\ea2c";
  --picto--eyedropper: "\ea2d";
  --picto--file: "\ea2e";
  --picto--file-new: "\ea2f";
  --picto--flag: "\ea30";
  --picto--folder: "\ea31";
  --picto--folder-export: "\ea32";
  --picto--folder-import: "\ea33";
  --picto--folder-new: "\ea34";
  --picto--folder-open: "\ea35";
  --picto--font: "\ea36";
  --picto--forward: "\ea37";
  --picto--globe: "\ea38";
  --picto--grab: "\ea39";
  --picto--grab-thick: "\ea3a";
  --picto--grab-thick-vertical: "\ea3b";
  --picto--grab-vertical: "\ea3c";
  --picto--graph: "\ea3d";
  --picto--grid: "\ea3e";
  --picto--help: "\ea3f";
  --picto--home: "\ea40";
  --picto--image: "\ea41";
  --picto--import: "\ea42";
  --picto--info: "\ea43";
  --picto--italic: "\ea44";
  --picto--json: "\ea45";
  --picto--key: "\ea46";
  --picto--left: "\ea47";
  --picto--left-xs: "\ea48";
  --picto--link: "\ea49";
  --picto--link-slash: "\ea4a";
  --picto--lock: "\ea4b";
  --picto--lock-open: "\ea4c";
  --picto--loop: "\ea4d";
  --picto--magic: "\ea4e";
  --picto--magnifier: "\ea4f";
  --picto--magnifier-minus: "\ea50";
  --picto--magnifier-plus: "\ea51";
  --picto--maximize: "\ea52";
  --picto--minimize: "\ea53";
  --picto--minus: "\ea54";
  --picto--minus-large: "\ea55";
  --picto--minus-small: "\ea56";
  --picto--minus-square: "\ea57";
  --picto--minus-square-dots: "\ea58";
  --picto--mirror: "\ea59";
  --picto--mirror-vertical: "\ea5a";
  --picto--move: "\ea5b";
  --picto--ol: "\ea5c";
  --picto--paintbrush: "\ea5d";
  --picto--paintbucket: "\ea5e";
  --picto--palette: "\ea5f";
  --picto--paperclip: "\ea60";
  --picto--paste: "\ea61";
  --picto--pause: "\ea62";
  --picto--pen: "\ea63";
  --picto--pencil: "\ea64";
  --picto--pin: "\ea65";
  --picto--play: "\ea66";
  --picto--plus: "\ea67";
  --picto--plus-large: "\ea68";
  --picto--plus-small: "\ea69";
  --picto--plus-square: "\ea6a";
  --picto--plus-square-dots: "\ea6b";
  --picto--puzzle: "\ea6c";
  --picto--quote: "\ea6d";
  --picto--redo: "\ea6e";
  --picto--restore: "\ea6f";
  --picto--right: "\ea70";
  --picto--right-xs: "\ea71";
  --picto--save: "\ea72";
  --picto--shield: "\ea73";
  --picto--shuffle: "\ea74";
  --picto--skull: "\ea75";
  --picto--split: "\ea76";
  --picto--split-detail: "\ea77";
  --picto--split-graph: "\ea78";
  --picto--split-grid: "\ea79";
  --picto--split-vertical: "\ea7a";
  --picto--square: "\ea7b";
  --picto--square-dots: "\ea7c";
  --picto--square-thick: "\ea7d";
  --picto--stack: "\ea7e";
  --picto--stop: "\ea7f";
  --picto--strike: "\ea80";
  --picto--terminal: "\ea81";
  --picto--text-center: "\ea82";
  --picto--text-justify: "\ea83";
  --picto--text-left: "\ea84";
  --picto--text-right: "\ea85";
  --picto--tint: "\ea86";
  --picto--transmission: "\ea87";
  --picto--ul: "\ea88";
  --picto--underline: "\ea89";
  --picto--undo: "\ea8a";
  --picto--up: "\ea8b";
  --picto--up-xs: "\ea8c";
  --picto--window: "\ea8d";
  --picto--wrench: "\ea8e";
}

.picto--arrow-down::after { content: var(--picto--arrow-down); }
.picto--arrow-down-left::after { content: var(--picto--arrow-down-left); }
.picto--arrow-left::after { content: var(--picto--arrow-left); }
.picto--arrow-left-up::after { content: var(--picto--arrow-left-up); }
.picto--arrow-right::after { content: var(--picto--arrow-right); }
.picto--arrow-right-down::after { content: var(--picto--arrow-right-down); }
.picto--arrow-up::after { content: var(--picto--arrow-up); }
.picto--arrow-up-right::after { content: var(--picto--arrow-up-right); }
.picto--backward::after { content: var(--picto--backward); }
.picto--bars::after { content: var(--picto--bars); }
.picto--bars-vertical::after { content: var(--picto--bars-vertical); }
.picto--bold::after { content: var(--picto--bold); }
.picto--bolt::after { content: var(--picto--bolt); }
.picto--bookmark::after { content: var(--picto--bookmark); }
.picto--bug::after { content: var(--picto--bug); }
.picto--bullet::after { content: var(--picto--bullet); }
.picto--calendar::after { content: var(--picto--calendar); }
.picto--check::after { content: var(--picto--check); }
.picto--clear::after { content: var(--picto--clear); }
.picto--close::after { content: var(--picto--close); }
.picto--code::after { content: var(--picto--code); }
.picto--cog::after { content: var(--picto--cog); }
.picto--copy::after { content: var(--picto--copy); }
.picto--crop::after { content: var(--picto--crop); }
.picto--cross::after { content: var(--picto--cross); }
.picto--cross-alt::after { content: var(--picto--cross-alt); }
.picto--cross-thin::after { content: var(--picto--cross-thin); }
.picto--cube::after { content: var(--picto--cube); }
.picto--cut::after { content: var(--picto--cut); }
.picto--desktop::after { content: var(--picto--desktop); }
.picto--details::after { content: var(--picto--details); }
.picto--dots::after { content: var(--picto--dots); }
.picto--down::after { content: var(--picto--down); }
.picto--down-xs::after { content: var(--picto--down-xs); }
.picto--eject::after { content: var(--picto--eject); }
.picto--ellipsis::after { content: var(--picto--ellipsis); }
.picto--ellipsis-vertical::after { content: var(--picto--ellipsis-vertical); }
.picto--envelope::after { content: var(--picto--envelope); }
.picto--envelope-open::after { content: var(--picto--envelope-open); }
.picto--eraser::after { content: var(--picto--eraser); }
.picto--expand::after { content: var(--picto--expand); }
.picto--export::after { content: var(--picto--export); }
.picto--eye::after { content: var(--picto--eye); }
.picto--eye-slash::after { content: var(--picto--eye-slash); }
.picto--eyedropper::after { content: var(--picto--eyedropper); }
.picto--file::after { content: var(--picto--file); }
.picto--file-new::after { content: var(--picto--file-new); }
.picto--flag::after { content: var(--picto--flag); }
.picto--folder::after { content: var(--picto--folder); }
.picto--folder-export::after { content: var(--picto--folder-export); }
.picto--folder-import::after { content: var(--picto--folder-import); }
.picto--folder-new::after { content: var(--picto--folder-new); }
.picto--folder-open::after { content: var(--picto--folder-open); }
.picto--font::after { content: var(--picto--font); }
.picto--forward::after { content: var(--picto--forward); }
.picto--globe::after { content: var(--picto--globe); }
.picto--grab::after { content: var(--picto--grab); }
.picto--grab-thick::after { content: var(--picto--grab-thick); }
.picto--grab-thick-vertical::after { content: var(--picto--grab-thick-vertical); }
.picto--grab-vertical::after { content: var(--picto--grab-vertical); }
.picto--graph::after { content: var(--picto--graph); }
.picto--grid::after { content: var(--picto--grid); }
.picto--help::after { content: var(--picto--help); }
.picto--home::after { content: var(--picto--home); }
.picto--image::after { content: var(--picto--image); }
.picto--import::after { content: var(--picto--import); }
.picto--info::after { content: var(--picto--info); }
.picto--italic::after { content: var(--picto--italic); }
.picto--json::after { content: var(--picto--json); }
.picto--key::after { content: var(--picto--key); }
.picto--left::after { content: var(--picto--left); }
.picto--left-xs::after { content: var(--picto--left-xs); }
.picto--link::after { content: var(--picto--link); }
.picto--link-slash::after { content: var(--picto--link-slash); }
.picto--lock::after { content: var(--picto--lock); }
.picto--lock-open::after { content: var(--picto--lock-open); }
.picto--loop::after { content: var(--picto--loop); }
.picto--magic::after { content: var(--picto--magic); }
.picto--magnifier::after { content: var(--picto--magnifier); }
.picto--magnifier-minus::after { content: var(--picto--magnifier-minus); }
.picto--magnifier-plus::after { content: var(--picto--magnifier-plus); }
.picto--maximize::after { content: var(--picto--maximize); }
.picto--minimize::after { content: var(--picto--minimize); }
.picto--minus::after { content: var(--picto--minus); }
.picto--minus-large::after { content: var(--picto--minus-large); }
.picto--minus-small::after { content: var(--picto--minus-small); }
.picto--minus-square::after { content: var(--picto--minus-square); }
.picto--minus-square-dots::after { content: var(--picto--minus-square-dots); }
.picto--mirror::after { content: var(--picto--mirror); }
.picto--mirror-vertical::after { content: var(--picto--mirror-vertical); }
.picto--move::after { content: var(--picto--move); }
.picto--ol::after { content: var(--picto--ol); }
.picto--paintbrush::after { content: var(--picto--paintbrush); }
.picto--paintbucket::after { content: var(--picto--paintbucket); }
.picto--palette::after { content: var(--picto--palette); }
.picto--paperclip::after { content: var(--picto--paperclip); }
.picto--paste::after { content: var(--picto--paste); }
.picto--pause::after { content: var(--picto--pause); }
.picto--pen::after { content: var(--picto--pen); }
.picto--pencil::after { content: var(--picto--pencil); }
.picto--pin::after { content: var(--picto--pin); }
.picto--play::after { content: var(--picto--play); }
.picto--plus::after { content: var(--picto--plus); }
.picto--plus-large::after { content: var(--picto--plus-large); }
.picto--plus-small::after { content: var(--picto--plus-small); }
.picto--plus-square::after { content: var(--picto--plus-square); }
.picto--plus-square-dots::after { content: var(--picto--plus-square-dots); }
.picto--puzzle::after { content: var(--picto--puzzle); }
.picto--quote::after { content: var(--picto--quote); }
.picto--redo::after { content: var(--picto--redo); }
.picto--restore::after { content: var(--picto--restore); }
.picto--right::after { content: var(--picto--right); }
.picto--right-xs::after { content: var(--picto--right-xs); }
.picto--save::after { content: var(--picto--save); }
.picto--shield::after { content: var(--picto--shield); }
.picto--shuffle::after { content: var(--picto--shuffle); }
.picto--skull::after { content: var(--picto--skull); }
.picto--split::after { content: var(--picto--split); }
.picto--split-detail::after { content: var(--picto--split-detail); }
.picto--split-graph::after { content: var(--picto--split-graph); }
.picto--split-grid::after { content: var(--picto--split-grid); }
.picto--split-vertical::after { content: var(--picto--split-vertical); }
.picto--square::after { content: var(--picto--square); }
.picto--square-dots::after { content: var(--picto--square-dots); }
.picto--square-thick::after { content: var(--picto--square-thick); }
.picto--stack::after { content: var(--picto--stack); }
.picto--stop::after { content: var(--picto--stop); }
.picto--strike::after { content: var(--picto--strike); }
.picto--terminal::after { content: var(--picto--terminal); }
.picto--text-center::after { content: var(--picto--text-center); }
.picto--text-justify::after { content: var(--picto--text-justify); }
.picto--text-left::after { content: var(--picto--text-left); }
.picto--text-right::after { content: var(--picto--text-right); }
.picto--tint::after { content: var(--picto--tint); }
.picto--transmission::after { content: var(--picto--transmission); }
.picto--ul::after { content: var(--picto--ul); }
.picto--underline::after { content: var(--picto--underline); }
.picto--undo::after { content: var(--picto--undo); }
.picto--up::after { content: var(--picto--up); }
.picto--up-xs::after { content: var(--picto--up-xs); }
.picto--window::after { content: var(--picto--window); }
.picto--wrench::after { content: var(--picto--wrench); }
