ui-folder {
  flex: 1;
  display: flex;
  flex-direction: column;
}

ui-folder > ui-grid {
  padding: var(--unit-md) 0;
}

ui-explorer {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.ui-error {
  padding: var(--unit);
  max-width: 100%;
}

.ui-error * {
  max-width: 100%;
}

.ui-error samp {
  display: block;
  white-space: pre;
  height: min-content;
  padding: var(--unit-md);
}
