ui-tabs {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  max-height: 100%;
}

.ui-tabs__panels {
  flex: 1;
  max-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.ui-tabs__panel {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
}
