:root {
  --tree-indent: var(--unit-lg);
  --tree-line: 1px dotted;

  --tree__label-gap: var(--unit-sm);
}

ui-tree {
  flex-grow: 1;
  overflow-y: auto;
  display: block;
  padding-left: var(--tree-indent);
  padding-top: 4px;
}

ui-tree:focus {
  outline: none;
}

ui-tree > .ui-tree__group > .ui-tree__item:first-child::after {
  top: 7px;
}

.ui-tree__group {
  margin: 0;
  padding: 0;
  padding-left: var(--tree-indent);
  list-style: none;
  overflow: hidden;
  will-change: height;
}

.ui-tree__root,
.ui-tree__group[aria-busy="true"] {
  overflow: visible;
}

.ui-tree__item:has(.ui-tree__group[aria-busy="true"]) > .ui-tree__trigger {
  cursor: var(--cursor-progress);
}

.ui-tree__item:has(.ui-tree__group[aria-busy="true"]) .loader {
  margin-left: calc(-1 * var(--tree-indent) - 0.5lh);
}

.ui-tree__item:has(.ui-tree__group[aria-busy="true"]) .loader::after {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ui-tree__item {
  position: relative;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 2px; */
}

.ui-tree__item::before {
  content: "";
  position: absolute;
  top: 7px;
  left: calc(-1 * var(--tree-indent) + 0px);
  width: calc(var(--tree-indent) - 3px);
  border-bottom: var(--tree-line);
}

.ui-tree__item:not(:only-child)::after {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 0;
  left: calc(-1 * var(--tree-indent));
  border-left: var(--tree-line);
}

.ui-tree__item:last-child::after {
  height: 7px;
  bottom: auto;
}

.ui-tree__label {
  display: flex;
  align-items: center;
  column-gap: var(--tree__label-gap);
}

.ui-tree__label::after {
  content: "";
  height: var(--picto-size);
}

.ui-tree__trigger {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-tree__trigger > ui-icon {
  float: left;
}

/* temp */

.ui-tree__item[aria-expanded] > .ui-tree__label > .ui-tree__trigger {
  font-weight: 600;
}
