:root {
  /* --checkboard-dark: #555;
  --checkboard-light: #666; */

  --ground-bg: #808080;
  --ground-fg: #e8eaed;

  --desktop-bg: #6363ce;
  --desktop-fg: #fff;

  --document-bg: #fff;
  --document-fg: #000;

  --panel-bg: #c0c0c0;
  --panel-fg: #000;

  --fld-bg: #fff;
  --fld-fg: #000;
  --fld-bsc: #666;
  --fld-oc: #666;
  --fld-invalid-bsc: #f00;

  --btn-bg: #c0c0c0;
  --btn-fg: #000;
  --btn-bsc: #666;

  --link-fg: #034575;
  --link-active-fg: #c00;

  --highlight-bg: #b5d5ff;
  --highlight-fg: #000;

  --dim-fg: #808080;
}

/* button {
  border: solid 2px transparent;
  border-radius: 30px;
  background-image:
    linear-gradient(white, white),
    linear-gradient(to top, green, gold);
  background-origin: border-box;
  background-clip: padding-box, border-box;
} */
